/* Geral da Pagina */
body {
}

/* Itens do Banner em Geral */
.Banner_Topo {
  border: 0.2vw solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 33, 33);
  /* background-color: rgb(153, 0, 0); */
}
.Banner_Topo div {
  font-size: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1vw 0 0 0;
}

/* Itens da parte da Barra de pesquisa */
.Logo_Site {
  width: 8vw;
  margin: 0 1vw 0 0;
}
.Pesquisa {
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1vw 5vw 1vw 0.8vw;
  width: 20vw;
  font-size: 1vw;
}
.Img_Lupa {
  position: relative;
  width: 1.5vw;
  right: 2vw;
}

/* Links para navegar no site */
.Links_Navegacao a {
  margin: 0.2vw;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: serif;
}
.Links_Navegacao a:hover {
  color: white;
  font-size: 1.3vw;
}
.Link_De_Navegacao_Com_Imagem:hover .Imagem_Inicial {
  filter: invert(100%);
  width: 4vw;
}
.Imagem_Inicial {
  display: flex;
  width: 2.7vw;
}
.Links_Navegacao p {
  margin: 0 1.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Seção de Estilização do Banner de Apresentações */
.Imagens_De_Apresentacoes {
  height: 50vh;
  width: 70vw;
  border-radius: 3vw;
  overflow: hidden;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 5px);
}
.Slides {
  display: flex;
  width: 300%;
  height: 100%;
}
.Slide {
  width: 34%;
  transition: 0.6s;
}
.Slide img {
  width: 100%;
  height: 100%;
}
#Slide_1:checked ~ .Primeiro_Slide {
  margin-left: 0;
}
#Slide_2:checked ~ .Primeiro_Slide {
  margin-left: -34%;
}
#Slide_3:checked ~ .Primeiro_Slide {
  margin-left: -68%;
}
#Slide_4:checked ~ .Primeiro_Slide {
  margin-left: -75%;
}
#Slide_5:checked ~ .Primeiro_Slide {
  margin-left: -80%;
}
.Botao_Slide_Anterior {
  position: absolute;
  left: -27vw;
  top: -47vh;
  width: 4vw;
  height: 51vh;
  background-color: rgba(255, 0, 0, 0);
  border: 0px;
  font-size: 4vw;
}
.Botao_Proximo_Slide {
  position: absolute;
  right: -27vw;
  border-radius: 0 2vw 2vw 0;
  top: -47vh;
  width: 4vw;
  height: 51vh;
  background-color: rgba(255, 0, 0, 0);
  border: 0px;
  font-size: 4vw;
}
.Input_Tipo_Radio_Alteracao_Slide {
  display: none;
}
.Navegacao_Entre_Slides {
  position: absolute;
  bottom: -23px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.Barra_De_Navegacao_De_Imagem {
  width: 5vw;
  height: 2vh;
  border: 0.2vw solid black;
  border-radius: 5px;
  cursor: pointer;
  margin: 6px;
  transition: 0.4s;
}
.Barra_De_Navegacao_De_Imagem:hover {
  background-color: rgb(255, 255, 255);
}
